body
  padding: 50px
  font: 40px Helvetica, Arial, sans-serif

a
  color: #00B7FF
  font-weight: bold;
  text-decoration: none;
  &:hover
    text-decoration: underline;

li
  margin: 0
  list-style-type: none;
  border-bottom: 1px solid silver;
